<header class="intro-header" style="background-image: url('img/star.jpg');">
<div class="row">
	<div class="col-md-3"> </div> <!-- centers -->
    <div class="col-md-6"><br><br><br> <!-- resizes -->
    
    <div class="panel-body">
</header>

<body>

<div class="row no-gutter" >
  <div class="col-lg-6">
    <div class="col-height left"  >
      <div class="col-text text" >
        <article >


	
	<div class="row" style="position: fixed; margin-left: 100px; ">
	<div class="col-md-4 col-md-offset-4" >

	<form name="create-post" action="/thread" method="post">

	<div class="form-group" style="width:200px">
	<label>Title</label>
	<input type='text' name='title' class="form-control" placeholder="Post Title">
	</div>

	<div class="form-group" style="width:200px">
	<label class>Description</label>
	<!-- <input type='text' name='description' class="form-control" placeholder="Description"> -->


		<textarea name="description" class="form-control" style="height: 100px;">
		</textarea>	
	<div>

	<br>

	<label>Difficulty</label>
	<select name='difficulty' class="selectpicker">
		{{#each difficulties}}
			<option> {{ this }}</option>
		{{/each}}

	</select>
	
	<br>
	<br>

	<label>Purpose</label>
	<br>
	
	<select name='purpose' class="selectpicker">
		{{#each purposes}}
			<option> {{ this }}</option>
		{{/each}}

	</select>
	<br>
	<br>
	<button type='submit'>Submit</button>

</form>
 </article>
      </div>
    </div>
  </div>

<div class="row no-gutter">
  <div class="col-lg-6">
    <div class="col-height right">
      <div class="col-text text">
        <article>

	{{#each threads}}

   
	<div>
		<!-- assign id to each invidual thread -->
		<div class="panel panel-default" style="width: 90%; border-radius: 10px;"> <div class="panel-body"> 
		<h2><a href='/thread/{{ this.id }}'> 
	        {{this.title}}
	    </a></h2>
	    	
	    	<h5>{{this.description}}</h5>
	    	<div class="pull-right">
			<h6>Posted by <b>{{this.creator}}</b> on {{this.createdAt}} </h6>
			</div>

	    </div>
	</div>	    
    <br>	
	{{/each}}
 </article>
      </div>
    </div>
  </div>
</div>
</body>
