<h1>this is post</h1>

<form name="create-post" action="/thread" method="post">
	<label>Title</label>
	<input type='text' name='title'>

	<br>
	
	<label>Description</label>
	<input type='text' name='description'>

	<br>

	<label>Difficulty</label>
	<select name='difficulty'>
		{{#each difficulties}}
			<option> {{ this }}</option>
		{{/each}}

	</select>
	
	<br>

	<label>Purpose</label>
	<select name='purpose'>
		{{#each purposes}}
			<option> {{ this }}</option>
		{{/each}}

	</select>

	<button type='submit'>Submit</button>
</form>


{{#each threads}}
   
	<div id="thread">
		<!-- assign id to each invidual thread -->
		<a href='/thread/{{ this.slug }}'> 
	        {{this.title}}
	    </a>
	    	{{this.description}}
	    <div id="buttons">
	    	<form action='/thread/edit'>
	    		<button id="edit_button">Edit</button>
	    	</form>
		    
		    <button id="delete_button">Delete</button>
		</div>
	</div>
	    
    <br>
{{/each}}

<script>
	var edit_button = document.getElementById("edit_button");
	var delete_button = document.getElementById("delete_button");

	function show(){
		edit_button.style.visibility = "visible";
		delete_button.style.visibility = "visible";
	}

	function hide(){
		edit_button.style.visibility = "hidden";
		delete_button.style.visibility = "hidden";
	}

</script>
